@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Actor&family=Karla:ital@1&display=swap');

body {
    background-color: white;

    background-image: url(homepage-blob.png);
    background-repeat: no-repeat;
    background-position: 50% 70px;
    background-size: 1920px 860px;
}

#topbar {
    max-width: 1920px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.85);
}

.navbar-page {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    padding: 20px;
}

.navbar-logo {
    padding: 20px;
}

#overview {
    padding: 60px;
}

#overview-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 70px;
    text-align: left;
    line-height: normal;
}

#overview-paragraph {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    text-align: right;

    color: #575153;

    position: relative;
    top: 130px;
}

#vision-title-paragraph {
    width: 900px;
    padding: 60px;

    position: relative;
    top: 200px;
}

#vision-title {
    font-family: 'Abril Fatface';
    font-size: 70px;
    text-align: left;
    line-height: 0.75;
}

#vision-paragraph {
    font-family: 'Actor', sans-serif;
    font-size: 40px;
    text-align: left;
    line-height: 1.25;

    color: #575153;
}

#mission-title-paragraph {
    width: 900px;
    padding: 60px;

    position: relative;
    top: 200px;
    left: 30%;
}

#mission-title {
    font-family: 'Abril Fatface';
    font-size: 70px;
    text-align: right;
    line-height: 0.75;
}

#mission-paragraph {
    font-family: 'Actor', sans-serif;
    font-size: 40px;
    text-align: right;
    line-height: 1.25;

    color: #575153;
}