@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Actor&family=Karla:ital@1&display=swap');

body {
    background-color: white;
}

#home-body {
    background-image: url(img/home-bg-blob.svg);
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-size: 2050px;
}

#about-body {
    background: linear-gradient(180deg, white 880px, #F2F2F2 880px);
    background-repeat: no-repeat;
}

#topbar {
    max-width: 1920px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 100px;
    padding-right: 100px;

    text-align: center;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.85);
}

.navbar-page {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    width: 200px;
}

.navbar-logo {
    padding: 20px;
}

.nav-item .active {
    background-image: url(img/nav-item-active.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.text-box-x-spacing {
    padding-top: 100px;
    padding-bottom: 100px;
}

#overview-title {
    font-family: 'Abril Fatface';
    font-size: 70px;
    line-height: normal;
}

#overview-paragraph {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    color: #575153;
}

.text-title {
    font-family: 'Abril Fatface';
    font-size: 70px;
    line-height: 0.75;
}

.text-paragraph {
    font-family: 'Actor', sans-serif;
    font-size: 40px;
    line-height: 1.25;

    color: #575153;
}
