@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    background-color: #F5F5F5;

    background-image: url(homepage-blob.png);
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-size: 1920px;
}

#topbar {
    max-width: 1920px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.navbar-page {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    font-weight: 400;

    padding: 20px;
}

.navbar-logo {
    padding: 20px;
}

#home-background {
    text-align: center;
}